

body {
    margin: 20px 0 0 10px;
    font-family: 'Lato';
    font-size: 20px;
    width: 300px;
  }
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

label {
    width: 300px;
    display: inline-block;
    margin-top: 20px;
  }

  label span {
  font-size: 1rem;
}
